body {
    background-color: antiquewhite;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

    height: 98.5vh;

    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.blocoLogin {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(208, 183, 244);
    border-radius: 20px;


    width: 340px;
    height: 439px;
}

.foto {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 10%;
}

input {
    width: 320px;
    margin-top: 0px;
    margin-bottom: 4px;
}

h2 {
    margin: 0px;
}

p {
    display: flex;

    flex-direction: row-reverse;
}


